obj/
bin/
gen/
disk/
temp/
compiler/fastbasic-int
compiler/fastbasic-fp
compiler/MANUAL.md
src/basic.asm
fastbasic.atr
testsuite/tests/*.atb
testsuite/tests/*.asm
testsuite/tests/*.stamp
testsuite/fbtest
*.lib
.hg/
.hg*
*.xex
*.lbl
*.map
*.o
