#
# FastBasic - Fast basic interpreter for the Atari 8-bit computers
# Copyright (C) 2017 Daniel Serpell
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program.  If not, see <http://www.gnu.org/licenses/>
#

# Linker configuration file
# -------------------------

FEATURES {
    STARTADDRESS: default = $2000;
}
SYMBOLS {
    __EXEHDR__:       type = import;
    __AUTOSTART__:    type = import; # force inclusion of autostart "trailer"
    __STARTADDRESS__: type = export, value = %S;
}
MEMORY {
    ZP:      file = "", define = yes, start = $0092, size = $0040;

# file header, just $FFFF
    HEADER:  file = %O,               start = $0000, size = $0002;

# "main program" load chunk
    MAINHDR: file = %O,               start = $0000, size = $0004;
    MAIN:    file = %O, define = yes, start = %S,    size = $BC20 - %S;
# code in zero page!
    IHEADER: file = %O,               start = $0000, size = $0004;
    INTERP:  file = %O, define = yes, start = $0082, size = $0010;
    TRAILER: file = %O,               start = $0000, size = $0006;
}
SEGMENTS {
    ZEROPAGE: load = ZP,      type = zp,  optional = yes;
    EXEHDR:   load = HEADER,  type = ro,  optional = yes;
    MAINHDR:  load = MAINHDR, type = ro,  optional = yes;
    JUMPTAB:  load = MAIN,    type = ro,                  define = yes, align = $100;
    RUNTIME:  load = MAIN,    type = rw,                  define = yes;
    CODE:     load = MAIN,    type = rw,                  define = yes;
    DATA:     load = MAIN,    type = rw   optional = yes, define = yes;
    BSS:      load = MAIN,    type = bss, optional = yes, define = yes, align = $80;
    IHEADER:  load = IHEADER, type = ro;
    INTERP:   load = INTERP,  type = rw;
    AUTOSTRT: load = TRAILER, type = ro,  optional = yes;
}
